body {
    background: #223344;
    margin: 0;
    padding: 0;
}

#glCanvas {
    display: block;
    margin: auto;
    margin-top: 30px;
}

#console {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    font-size: 8pt;
    font-family: "Lucida Console", Monaco, monospace;
    background: #333;
    overflow-y: auto;
    padding-top: 5px;
    border-top: 1px solid #555;
}